{% extends 'base.html' %}
{% block title %}
About us
{% endblock %}
{% block content %}
<!-- <h1>Medical Services that You can Truse 100%</h1> -->

{% load static %}


<!DOCTYPE html>
<html>

<head>
  <title> City Hospital</title>

</head>

<body>


<br>
<br><br>
<br><br>
<br><br>
<br>
  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static '/images/about-img.jpg/' %}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container mx-5 text-center">
              <h2>
                About <span>Us</span><br>
              </h2>
            </div>
            <div class="container mx-5">
            <p>
              &nbsp &nbsp &nbsp &nbsp There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
              in some form, by injected humour, or randomised words which don't look even slightly believable. If you
              are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in
              the middle of text.Beatae provident nobis mollitia magnam voluptatum, unde dicta facilis minima veniam corporis 
              laudantium alias tenetur eveniet illum reprehenderit fugit a delectus officiis blanditiis ea.<br>
              &nbsp &nbsp &nbsp &nbsp There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
              in some form, by injected humour, or randomised words which don't look even slightly believable. If you
              are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in
              the middle of text.Beatae provident nobis mollitia magnam voluptatum, unde dicta facilis minima veniam corporis 
              laudantium alias tenetur eveniet illum reprehenderit fugit a delectus officiis blanditiis ea.


            </p>
            </div>
         
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <br>
  <br>
  <br>
  <br><br>
  <br>
  <br> <br>
  <br><br>
  <br>
  <br>
  <br>
</body>

</html>


{% endblock %}